# Python Fundamentals

# Data Structures and Manipulation

In [1]:
#Implement a function to find unique elements from a list and sort them in descending order


def unique_elements_sorted_desc(lst):
    """
    Finds unique elements from a list and sorts them in descending order.
    
    Args:
        lst (list): Input list containing elements.

    Returns:
        list: Unique elements from the input list sorted in descending order.
    """
    # Find unique elements from the list
    unique_elements = list(set(lst))
    # Sort the unique elements in descending order
    unique_elements.sort(reverse=True)
    return unique_elements

# Test case with inputs
my_list = [3, 8, 1, 2, 9, 0, 10, 0, 2, 7, 4, 5, 1, 3, 6, 7]
unique_sorted = unique_elements_sorted_desc(my_list)
print(unique_sorted)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [2]:
#Converting a nested dictionary structure into a flattened dictionary

def flatten_dict(d, parent_key='', sep='_'):
    """
    Converts a nested dictionary structure into a flattened dictionary.

    Args:
        d (dict): Input nested dictionary.
        parent_key (str, optional): Key representing the parent dictionary. Defaults to ''.
        sep (str, optional): Separator used to join keys. Defaults to '_'.

    Returns:
        dict: Flattened dictionary.
    """
    items = []
    for k, v in d.items():
        new_key = parent_key + sep + k if parent_key else k
        if isinstance(v, dict):
            # Recursively flatten nested dictionaries
            items.extend(flatten_dict(v, new_key, sep=sep).items())
        else:
            items.append((new_key, v))
    return dict(items)

# Test case with inputs
nested_dict = {
    'a': 1,
    'b': {
        'c': 2,
        'd': {
            'e': 3
        }
    },
    'f': 4
}
flattened_dict = flatten_dict(nested_dict)
print(flattened_dict)
# Output: {'a': 1, 'b_c': 2, 'b_d_e': 3, 'f': 4}

{'a': 1, 'b_c': 2, 'b_d_e': 3, 'f': 4}

# Object-Oriented Programming (OOP)

In [3]:
import math

x = int(input("Enter the X number:"))
y = int(input("Enter the Y number:"))

class Calculator:
    def add(self, x, y):
        return x + y
    
    def subtract(self, x, y):
        return x - y
    
    def multiply(self, x, y):
        return x * y
    
    def divide(self, x, y):
        try:
            return x / y
        except ZeroDivisionError:
            print("Error: Division by zero.")
            return None

class ScientificCalculator(Calculator):
    def sin(self, x):
        return math.sin(x)
    
    def cos(self, x):
        return math.cos(x)
    
    def tan(self, x):
        return math.tan(x)

# Example usage:
basic_calc = Calculator()
print(basic_calc.add(x, y))  # Output: 5 + 3 = 8
print(basic_calc.subtract(x, y))  # Output: 5 - 3 = 2
print(basic_calc.multiply(x, y))  # Output: 5 * 3 = 15
print(basic_calc.divide(x, y))  # Output: 5 / 3 = 1.6666666666666667
print(basic_calc.divide(x, 0))  # Output: Error: Division by zero. 5 / 0 = None

scientific_calc = ScientificCalculator()
print(scientific_calc.sin(x))  # Output: sin(0) = 0.0
print(scientific_calc.cos(x))  # Output: cos(0) = 1.0
print(scientific_calc.tan(x))  # Output: tan(0) = 0.0

Enter the X number: 5
Enter the Y number: 3

8
2
15
1.6666666666666667
Error: Division by zero.
None
-0.9589242746631385
0.28366218546322625
-3.380515006246586

# File I/O:

In [4]:
#read the file
import pandas as pd
Electric =pd.read_csv(r"D:\education\data_science\Interview\Electric_Production.csv")

In [5]:
#review the head
Electric.head()

       DATE  IPG2211A2N
0  1/1/1985     72.5052
1  2/1/1985     70.6720
2  3/1/1985     62.4502
3  4/1/1985     57.4714
4  5/1/1985     55.3151

In [6]:
#checking if there is any null value is availalbe 
missing_val_count_by_column = (Electric.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])

Series([], dtype: int64)

In [7]:
#want to know the statistics of numerical data
Electric.describe()

       IPG2211A2N
count  397.000000
mean    88.847218
std     15.387834
min     55.315100
25%     77.105200
50%     89.779500
75%    100.524400
max    129.404800

In [8]:
# here null values are not avilable, if incase is there, Impute null values with a specific value (use mean vlue '88')
imputed_value = 88
Electric.fillna(imputed_value, inplace=True)

In [9]:
print(Electric)

          DATE  IPG2211A2N
0     1/1/1985     72.5052
1     2/1/1985     70.6720
2     3/1/1985     62.4502
3     4/1/1985     57.4714
4     5/1/1985     55.3151
..         ...         ...
392   9/1/2017     98.6154
393  10/1/2017     93.6137
394  11/1/2017     97.3359
395  12/1/2017    114.7212
396   1/1/2018    129.4048

[397 rows x 2 columns]

In [10]:
# Normalize a specific numerical column ('IPG2211A2N')
numerical_column = 'IPG2211A2N'
min_value = Electric[numerical_column].min()
max_value = Electric[numerical_column].max()
Electric[numerical_column] = (Electric[numerical_column] - min_value) / (max_value - min_value)

In [11]:
# Cross-check the normalization
normalized_column = Electric[numerical_column]
print("Statistics of the normalized column:")
print(normalized_column.describe())

Statistics of the normalized column:
count    397.000000
mean       0.452588
std        0.207692
min        0.000000
25%        0.294104
50%        0.465171
75%        0.610197
max        1.000000
Name: IPG2211A2N, dtype: float64

In [12]:
# Write the cleaned data to a new JSON file
Electric.to_json('D:\education\data_science\Interview\cleaned_data.json', orient='records')

In [13]:
print(Electric)

          DATE  IPG2211A2N
0     1/1/1985    0.232017
1     2/1/1985    0.207274
2     3/1/1985    0.096304
3     4/1/1985    0.029104
4     5/1/1985    0.000000
..         ...         ...
392   9/1/2017    0.584431
393  10/1/2017    0.516922
394  11/1/2017    0.567161
395  12/1/2017    0.801813
396   1/1/2018    1.000000

[397 rows x 2 columns]